@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: "Agbalumo";
    background-color: #333;

}

.logo{
    width: 50px;
}

header{
    position: absolute;
    z-index: 99999;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255,255, 0.1);
}

header nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
}


main {
    position: relative;
    background-color: #333;
    height: 100vh;
    width: 208vh;
    overflow: hidden;
}

.vers{
    padding: 0 60rem;
    position: absolute;
    width: 50rem;
    height: 50rem;
    margin: 50rem;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    justify-content: center; 
}

.box {
    border: 1px solid #000;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.box h3 {
    margin-bottom: 10px;
}

.box p {
    margin-bottom: 20px;
}

.box a {
    color: #000;
    text-decoration: none;
}

.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box:hover {
    background-color: #f5f5f5;
    transform: scale(1.35);
    transition: all 0.5s ease;
}